@namespace FxNyaa
@using System.Web
@model CommentEmbedModel

@{
    Layout = null;
    var address = Model.Address;
    var author = HttpUtility.HtmlEncode(Model.Author);
    var content = HttpUtility.HtmlEncode(Model.CommentContent);
    var activityJsonUrl = $"/users/{author}/statuses/{Model.ActivityId}";
    var iconUrl = Model.IconUrl;
}

<!DOCTYPE html>
<html lang="en">
<!-- Hello from FxNyaa! -->
<head>
    <title>FxNyaa</title>
    <link rel="canonical" href="@address"/>
    <meta property="og:url" content="@address"/>
    <meta property="twitter:site" content="@author"/>
    <meta property="twitter:creator" content="@author"/>
    <meta property="theme-color" content="#0085ff"/>
    <meta property="twitter:title" content="@author"/>
    <meta http-equiv="refresh" content="0;url=@address"/>
    @{
        // Discord supports either "display_name (@username)" or "display_name (@username@example.com)"
        // setting title to either of the above will change how the author displays to it.
        // setting it to anything else will do nothing, and instead default to the 2nd option, with example.com as the site's hostname.
    }
    <meta property="og:title" content="@author (@@@author)"/>
    <meta property="og:description" content="@content">
    <meta property="og:site_name" content="FxNyaa"/>
    <link rel="icon" href="@iconUrl" type="image/png">
    <link type="application/activity+json" rel="alternate"
          href="@activityJsonUrl"/>
</head>
<body></body>
</html>